package views

import "develop/go-fiber/views/components"
import "develop/go-fiber/views/layout"

templ Main() {
    <main>
    @layout.Header() {
        @components.Title("Найди работу своей мечты")
    }
    Main
    </main>
}